@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
  padding: 0;
  margin: 0px;
}

html {
  margin: 0;
  padding: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  padding: 0;
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}

.conteiner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.gallery-container{
  display: flex;
  flex-wrap: wrap;
}
.logo{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.title_project{
    font-size: 22px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}
.gallery-item {
  width: 200px;
  padding: 5px;
}

.img-fluid{
  width: 300px;
  margin: 10px;
}
.gallery-item{
 flex: 0 1 32%;
}
.ptoho_title{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}